<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>store house</title>
    <link rel="stylesheet" href="../styles/registrationStyles/store.css" />
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <form action="javascript:;" class="wp_form">
          <input
            type="text"
            name="email"
            placeholder="enter email"
            id="email"
          />
          <input
            type="text"
            name="password"
            placeholder="enter password"
            id="password"
          />
        </form>
        <div class="wp_fm_btn_wrap">
          <button>signup</button>
          <button onclick="login()">login</button>
        </div>
      </div>
    </div>

    <script src="../js/login.js"></script>
  </body>
</html>
